* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald-Light';
}

@font-face {
    font-family: 'SuperWebcomicBros';
    src: url("../fonts/SuperWebcomicBros_Rusbyyakustick_-Regular_0.ttf");
}

@font-face {
    font-family: 'Oswald-Light';
    src: url("../fonts/Oswald-Light.ttf");
}

.intro {
    width: 100%;
    height: 100vh;
    background-color: #b2c5e3;
    position: relative;
}

.block_section {
    width: 100%;
    height: 100%;
    display: flex;
}

.psevdo_header {
    width: 15%;
    height: 7%;
    border-bottom: solid 4px #6483a5;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 20px;
    z-index: 3;
}

.block_text_intro {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.block_text_intro img {
    height: 100%;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 1;
}

.zagolovok {
    width: 856px;
    height: 150px;
    background-color: #f2f2f2;
    position: absolute;
    z-index: 2;
    border-radius: 0px 40px 40px 0px;
    padding: 15px;
}

.img_intro {
    width: 60%;
    height: 100%;
}

.img_intro img {
    height: 100%;
    width: 100%;
}

a {
    font-size: 17px;
    letter-spacing: 2px;
    color: #3c4f58;
    text-decoration-color: #6483a5;
    font-weight: 700;
    transition: 0.5s;
}

a:hover {
    color: #6483a5;
    text-decoration: none;
}

p {
    font-size: 21px;
    letter-spacing: 2px;
    color: #171f23;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}

.zagolovok p {
    font-size: 21px;
    letter-spacing: 2px;
    color: #171f23;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h1 {
    font-size: 42px;
    font-family: 'SuperWebcomicBros';
    letter-spacing: 3px;
}


.start {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_start {
    width: 85%;
    height: 90%;
}

.zaolov {
    width: 30%;
    height: 20px;
    border-top: solid 4px #6483a5;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'SuperWebcomicBros';
    letter-spacing: 3px;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'SuperWebcomicBros';
    letter-spacing: 4px;
}

.block_start p {
    line-height: 42px;
    text-transform: initial;
}

.story {
    width: 100%;
    height: 120vh;
    background-color: #b2c5e3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block_story {
    width: 85%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.story_line {
    width: 100%;
    height: 32.8%;
    display: flex;
    overflow: hidden;
}
.story_line1 {
    width: 100%;
    height: 32.8%;
    display: flex;
    overflow: hidden;
    display: none;
}
.pod_img {
    width: 40%;
    height: 100%;
    display: flex;
}
.pod_img img {
    height: 100%;
    width: 100%;
}
.pod_text {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.pod_text p {
    text-transform: none;
}
.smena {
    justify-content: flex-end;
    text-align: right;
}
.pochatki {
    width: 100%;
    height: 200vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glav_block {
    width: 85%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.zagolovok_1 {
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block_line {
    width: 190px;
    height: 60%;
    border-bottom: solid 4px #6483a5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_line h2 {
    font-size: 3rem;
}

.information {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_img_inf {
    height: 60%;
    width: 30px;
    position: relative;
}

.block_img_inf img {
    height: 90%;
    position: absolute;
}

.information p {
    font-size: small;
    text-transform: none;
}
.information p:nth-child(2) {
    display: none;
}
.osov_content {
    width: 100%;
    height: calc(100% - 120px);
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fotca {
    width: 33%;
    height: 32.8%;
    overflow: hidden;
    position: relative;
}

.osob_border {
    border-top: solid 6px #6483a5;
    border-left: solid 6px #6483a5;
}

.osob_border1 {
    border-top: solid 6px #6483a5;
}

.osob_border2 {
    border-top: solid 6px #6483a5;
    border-right: solid 6px #6483a5;
}

.osob_border3 {
    border-left: solid 6px #6483a5;
}

.osob_border4 {
    border-right: solid 6px #6483a5;
}

.osob_border5 {
    border-bottom: solid 6px #6483a5;
    border-left: solid 6px #6483a5;
}

.osob_border6 {
    border-bottom: solid 6px #6483a5;
}

.osob_border7 {
    border-bottom: solid 6px #6483a5;
    border-right: solid 6px #6483a5;
}

.radius {
    border-radius: 20px 20px 0 20px;
}

.radius1 {
    border-radius: 20px 20px 0px 0px;
}

.radius2 {
    border-radius: 20px 20px 20px 0px;
}

.radius3 {
    border-radius: 20px 0px 0px 20px;
}

.radius4 {
    border-radius: 0px 20px 20px 0px;
}

.radius5 {
    border-radius: 20px 0px 20px 20px;
}

.radius6 {
    border-radius: 0px 0px 20px 20px;
}

.radius7 {
    border-radius: 0px 20px 20px 20px;
}
.radius8 {
    border-radius: 20px;
}

.foto {
    width: 100%;
    height: 100%;
}

.foto_1 {
    background-image: url(../img/foto_1.jpg);
    background-size: cover;
}

.foto_2 {
    background-image: url(../img/foto_5.jpg);
    background-size: cover;
}

.foto_3 {
    background-image: url(../img/foto_9.jpg);
    background-size: cover;
}

.foto_4 {
    background-image: url(../img/foto_4.jpg);
    background-size: cover;
}

.foto_5 {
    background-image: url(../img/foto_2.jpg);
    background-size: cover;
}

.foto_6 {
    background-image: url(../img/foto_6.jpg);
    background-size: cover;
}

.foto_7 {
    background-image: url(../img/foto_7.jpg);
    background-size: cover;
}

.foto_8 {
    background-image: url(../img/foto_8.jpg);
    background-size: cover;
}

.foto_9 {
    background-image: url(../img/foto_3.jpg);
    background-size: cover;
}

.foto_infa {
    width: 100%;
    height: 100%;
    background-color: #bfbcbc7d;
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 5;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
    padding: 30px;
}

.foto_infa p {
    text-transform: none;
    font-size: 26px;
}

.foto:hover .foto_infa {
    opacity: 1;
}

.name_chum {
    width: 170px;
    height: 50px;
    background-color: #b2c5e3;
    position: absolute;
    z-index: 10;
    opacity: 3;
    top: 295px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
}

.chum_1 {
    background-image: url(../img/яяя.jpg);
    background-size: cover;
}

.chum_2 {
    background-image: url(../img/даша\ и\ аня.jpg);
    background-size: cover;
}

.chum_3 {
    background-image: url(../img/лелькаа.jpg);
    background-size: cover;
}

.chum_4 {
    background-image: url(../img/общая3.jpg);
    background-size: cover;
}
.chum_5 {
    background-image: url(../img/Кристина.jpg);
    background-size: cover;
}
.chum_6 {
    background-image: url(../img/люда.jpg);
    background-size: cover;
}
.chum_7 {
    background-image: url(../img/Полина.jpg);
    background-size: cover;
}
.fotca1 {
    width: 80%;
    height: 32.8%;
    overflow: hidden;
    position: relative;
}
@media(max-width: 420px) {
    .intro {
        width: 100%;
        height: 50vh;
        background-color: #b2c5e3;
        position: relative;
    }
    .img_intro {
        display: none;
    }
    .block_text_intro {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        background-image: url(../img/img_intro.jpg);
        background-size: cover;
    }
    .zagolovok {
        width: 100%;
        height: 150px;
        background-color: #f2f2f286;
        backdrop-filter: blur(3px);
        position: absolute;
        z-index: 2;
        text-align: center;
        border-radius: 0px;
        padding: 15px;
    }
    h1 {
        font-size: 2.1rem;
    }
    .zagolovok p {
      display: none;
    }
    .zagolovok_1 {
      width: 100%;
    }
    .start {
        height: 130vh;
    }
    .story {
        height: 300vh;
    }
    .story_line {
        flex-direction: column;
    }
    .story_line:nth-child(2) {
       display: none;
    }
    .story_line1 {
        flex-direction: column;
        display: flex;
    }
    .pod_img {
        width: 1000px; 
        height: 40%;
        overflow: scroll;
    }
    .pod_text {
        width: 100%;
        height: 60%;
        text-align: left;
    }
    .pochatki {
        height: 500vh;
    }
    .information p:nth-child(2) {
        display: block;
    }
    .information p:nth-child(1) {
        display: none;
    }
    .osov_content {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .fotca {
        width: 95%;
        height: 350px;
        border-radius: 20px;  
        border: solid 6px #6483a5;
      
    }
    .fotca1 {
        width: 95%;
        height: 350px;
    }
    .foto_infa p {
        font-size: 20px;
    }
   
    .chum_4 {
        background-position-x: -96px;
    }
}
footer {
    width: 100%;
    height: 15vh;
    background-color: #b2c5e3;
    display: flex;
    align-items: center;
    justify-content: center;
}
